<div class="row">
    {{#each agendas}}
    <div class="col-md-4" >
        <div class="card">
            <div class="card-body" style="background-color:#F4EA6A">
                <strong><p>{{Nombre}}</p></strong>
                <p><strong>Direccion: </strong>{{Direccion}}</p>
                <p><strong>--- :</strong>{{TDireccion}}</p>
                <p><strong>Telefono: </strong>{{Telefono}}</p>
                <p><strong>Correo: </strong>{{Correo}}</p>
                <p><strong>Red Social: </strong>{{TRed}}</p>
                <p><strong>Ocupacion: </strong>{{Ocupacion}}</p>
                <p><strong>Identidad: </strong>{{Identidad}}</p>
                <p><strong>Fecha de Nacimiento: </strong>{{FechaN}}</p>
                <p><strong>Descripcion: </strong>{{Descripcion}}</p>
                <Strong>Fecha de creacion:{{Fecha}}</Strong>
<strong></strong>

            </div>
        </div>
    </div>
    {{/each}} 

</div>